main {
    width: 50%;
}

.valid-visible {
    display: none;
}

.invalid-visible {
    display: none;
}

.valid {
    color: green;
}

.invalid {
    color: red;
}

table {
    display: table;
}

table tr {
    display: table-cell;
}

table tr td {
    display: block;
}